<h3> Post a Comment </h3>

<%= form_for [@job, @comment] do |f| %>
  <p>
    <%=f.label  :content %></br>
    <%=f.text_field :content, :size => 50%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
