<html>
  <h3>All Jobs</h3> </br>

  <% @jobs.each do |job| %>
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body text-info">
            <p class="card-text">Position: <%= link_to job.title, company_job_path(job.company, job) %> at <%= job.company.name %></p>
            <p class="card-text">Level of Interest: <%= job.level_of_interest %></p>
            <p class="card-text">City: <%= job.city %></p>
          </div>
        </div>
      </div>
  <% end %>

</html>
