<h2>All Companies</h2>

<ul>
  <% @companies.each do |company| %>
  <p>
    <button type="button" class="btn btn-success"><%= link_to company.name, company_path(company)%></button>
    <button type="button" class="btn btn-warning"><%= link_to "Edit", edit_company_path(company) %></button>
    <button type="button" class="btn btn-danger"><%= link_to "Delete", company_path(company), method: "delete" %></button><br>
  </p>
  <% end %>
</ul>
