<h2> All Categories </h2>

<ul>
  <% @categories.each do |category| %>
  <p>
    <button type="button" class="btn btn-success"><%= link_to category.title, category_path(category) %></button>
    <button type="button" class="btn btn-warning"><%= link_to "Edit", edit_category_path(category) %></button>
    <button type="button" class="btn btn-danger"><%= link_to "Delete", category_path(category), method: "delete" %></button>
  </p>
  <% end %> </br> </br>
  <button type="button" class= "btn btn-primary"> <%= link_to "Add A Category", new_category_path %></button>

</ul>
