<h1>All <%= @category.title %> Jobs: </h1>

<div>
  <% @category.jobs.each do |job| %>
    <ul> <%= link_to job.title, company_job_path(job.company, job)  %>  at <%= job.company.name %></ul>
  <% end %>
</div>
